@font-face {
  font-family: "EpicSkyFont";
  src: url("https://res.cloudinary.com/dcxfj6ij9/raw/upload/v1708493518/XWallpaper/Fuente/mohnlubogt1mepgeifcn.ttf");
}
html{
  background-color: #F5F7F9;
}
* {
  color: black;
  font-family: 'EpicSkyFont';
  padding: 0;
  margin: 0;
}
header {
  font-size: 13px;
  padding: 20px 25px 20px 15px;
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 7px;
  font-size: 18px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 20px 15px;
  padding: 0 0 10px 0;
  width: 95%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.img{
  width: 160px;
  height: 280px;
  border-radius: 20px;
  border: #cccccc 3px solid;
}
a {
  text-decoration: none;
}

#icon-share {
  width: 25px;
  height: 25px;
}
#a-share {
  background-color: transparent !important;
  width: 25px;
  height: 25px;
}

label {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}
a { -webkit-tap-highlight-color: rgba(0,0,0,0); }

#icon-lupa {
  width: 25px;
  height: 25px;
  padding: 0;
  transition: width 0.5s ease;
  transition: height 0.5s ease;
  
}
#label-lupa {
  margin-left: auto;
}

.filtro{
    display: none;
}
#buscador {
  color: black;
  border-radius: 23px;
  margin: auto;
  padding: 5px 8px 7px 20px;
  display: none;
  width: 75%;
  height: 30px;
  appearance: none;
  border: none;
  outline: none;
  background: #ccc;
  font-size: 18px;
}
.mensaje_sin_coincidencias {
  display: none;
  place-items: center;
  width: 100%;
  height: 500px;
}
#error-find {
  opacity: 0.7;
  margin-top: 30px;
}
#error-find-icon {
  opacity: 0.7;
  width: 100px;
  height: 100px;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

small {
  color: gray;
  text-decoration: underline;
}
.title-img {
  color: black;
}

/* estilos navegador */
.btn-page {
  padding: 7px 12px 7px 12px;
  border-radius: 15px;
  opacity: 1;
  font-weight: 800;
  font-size: 20px;
  color: black;
}

/*estilos icons-descargar y pre-view*/

.svg-download {
  width: 25px;
  height: 25px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  animation: escalar 1s;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.svg-view {
  width: 25px;
  height: auto;
  background: white;
  padding: 10px;
  border-radius: 5px;
  animation: escalar 1s;
  position: absolute;
  bottom: 20px;
  right: 65px;
}
.fondo-img{
  position: relative;
}
@keyframes escalar{
  0%{
    transform:scale(.5);
  } 
  100%{
    transform:scale(1);
  } 
}
@media (max-width: 347px) {
  .fondo-img {
    transform: scale(0.7);
   width: 45%;
   height: auto;
   padding: 0;
  }
  .svg-download {
  bottom: 20px;
  right: 1.5%;
}
.svg-view {
  bottom: 20px;
  right: 40%;
}
main {
  gap: 5px;
}
}
  .nuevo {
      color: white;
      background: #1B87F0;
      width: 50px;
      border-radius: 5px;
      padding: 2px 4px 2px 6px ;
      margin-bottom: 5px;
      position: absolute;
      top: 5%;
      left: 7%;
      font-size: 14px;
    }